node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.vscode
.DS_Store
*.log
logs
client/dist
server/database/*.db-wal
server/database/*.db-shm
.railway
railway.json